<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ch.hsr.ifs.cutelauncher.launchConfig">
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.eclipse.cdt.debug.mi.core.CDebuggerNew"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/largeDigitTest"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="largeDigitTest"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/largeDigitTest"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/usr/share/cevelop:${workspace_loc:/digit1/Debug}:"/>
</mapAttribute>
</launchConfiguration>
